body{

    background-color: gray;
    background-size: 100% 100%;
    
}

#container{
    width: 1000px;
    margin: auto;
    text-align: center;
    background-color:rgba(rgb(227, 233, 227)) ;

}
#header{
    float: left;
    color: rgba(158, 14, 14, 0.781);
}

.bar ul {
    list-style-type: none;
    width: 1000px;
    padding: 0;
    position: relative;
    left: 400px;

}

.bar li {
    
    left: 0;
    text-align: center;
    background-position: center;
    background-color: rgba(158, 14, 14, 0.781);
}

.bar li a {
    display: block;
    padding: 20px;
    color: white;
    font-size: large;
    text-decoration: none;
    
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: rgba(158, 14, 14, 0.781);
    text-align: center;
 }